@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: 'Lobster';
    background: url(img/fon-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}
.photo {
    max-width: 1500px;
    width: 100%;
    margin: 10px auto;   
    
}

h1,p,a {
    text-align: center;
    font-size: 40px;  
    margin: 0 auto; 
    color: white;
    opacity: 0.9;
    text-decoration: none;
    
}
p {
    font-size: 25px;
}

.photo {
    display: flex;  
    justify-content: space-around;   
 }

 a:hover {
    font-size: 45px;
    transition: 0.5s;
}